
body {
  overflow-x: hidden;
}
// Typography
h1,
h2,
h3 {
  font-family     : $heading-font;
  margin-bottom   : var(--heading-default-bottom-margin);
  letter-spacing  : 2px;
}

h1 {
  color           : $accent-color;
  font-size       : 4rem;
  text-transform  : uppercase;
}

h2 {
  color         : $light-color;
  font-size     : 2.5rem;
}

h3 {
  color         : $light-color;
  font-size     : 2rem;
}

a {
  text-decoration : none;
}

p,
span,
ul,
ol,
li,
blockquote,
cite,
button,
input,
label,
textarea,
form {
  font-family    : $body-font;
  font-size      : 1.5rem;
  line-height    : 1.5;
}

a,
small,
strong {
  font-family     : inherit;
  font-size       : inherit;
}
