---
---
// Main SCSS file
// Check the README file for information on how to edit
// Edit your 'resets', 'utilities' and 'universal' styles in the _sass directory

@import '_resets';

// Sass variables
// Sass global variables must come BEFORE partials that use them and declared on the 'main.scss' file
$dark-color                   : {{site.data.settings.theme.dark_color}};
$light-color                  : {{site.data.settings.theme.light_color}};
$accent-color                 : {{site.data.settings.theme.accent_color}};
$complementary-color          : {{site.data.settings.theme.complementary_color}};
$body-font                    : {{site.data.settings.theme.body_font_family}};
$heading-font                 : {{site.data.settings.theme.heading_font_family}};

// For variables that change according to media queries, use CSS variables instead of Sass variables
:root {
  --gallery-padding                 : 1.5rem;
  --heading-default-bottom-margin   : 2rem;
  --heading-font-size               : 4rem;
  --body-font-size                  : 1.2rem;
  --padding                         : 0.8rem;
  --margin                          : 1rem;
}

// Sass partials
// Add necessary partials from here onwards
@import
  '_mixins',
  '_utility',
  '_universal',
  '_gallery',
  '_containers',
  '_buttons',
  '_nav',
  '_blocks',
  '_media-queries';

  // Alternatively, write your CSS/SCSS from here onwards
